* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgb(241, 219, 120);
}
.logo img {
  margin-left: 30px;
  margin-right: 50px;
  height: 50px;
}
.vertical-line {
  width: 1px;
  height: 50px;
  background: rgb(17, 17, 17);
  color: rgb(17, 17, 17);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(17, 17, 17);
}
button {
  width: 200px;
  height: 50px;
  background: rgb(241, 219, 120);
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1000ms;
}
button:hover {
  background: rgb(17, 17, 17);
  color: rgb(241, 219, 120);
}
